body {
  background-color: rgb(156, 156, 80);
}

#card {
    display: flex;
    flex-direction: row;
    width: 35%;
    margin: 10% auto;
    background-color: #ACAD94;
    border-radius: 3%;
  }

#desktop {
  width: 50%;
  object-fit: cover;
  border-radius: 5% 0% 0% 5%;
}

#mobile {
  display: none;
}

#text {
  margin-left: 3%;
}

h2 {
  color: white;
  font-size: medium;
}

h1 {
  color: #004f2d;
}

#name{
  margin-top: -1%;
}

p{
  color: white;
}

button {
  background-color: #004f2d;
  margin: 5% auto;
  padding: 5%;
  border: none;
  border-radius: 3%;
  color: white;
  display: block;
}

button:hover {
  background-color: rgb(156, 156, 80);
}

@media screen and (max-width: 1200px) {
  
  #card{
    flex-direction: column;
    width: 90%;
  }

  #mobile {
    display: block;
    object-fit: contain;
    width: 100%;
    border-radius: 5% 5% 0% 0%;
  }

  #desktop {
    display: none;
  }
  
}